* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #403E3E;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
    background-color: #403E3E;
}
body::-webkit-scrollbar-track {
    background-color: #28B3B2;
}
body::-webkit-scrollbar-thumb {
    background-color: #403E3E;
}

.left {
    width: 100%;
    padding: 1rem;
}
.right {
    width: 100%;
    padding: 1rem;
}

h1, h2, h3 {
    margin: 1rem;
    font-size: 3rem;
}

p {
    margin: 1rem;
    font-size: 1.5rem;
}

.intro {
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: left;
}

.container {
    background-image: linear-gradient(to right, #28B3B2 , #BFFFFF, #7ABFBF);
    text-align: center;
    margin: 0;
}

ul {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #403E3E;
}

img {
    margin-top: 10%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.row {
    display: flex;
    justify-content: space-around;
}

.info {
    background-color: white;
    display: flex;
    align-items: center;
    width: 20%;
    border: #403E3E solid 3px;
    border-radius: 1%;
}

.info img {
    margin: 1%;
    width: 70%;
    height: 50%;
}

@media only screen and (max-width: 950px) {
    .intro {
      display: block;
    }

    .info img {
        display: none;
    }

    .menu-btn-burger {
        display: flex;
    }

    .right img {
        width: 100%;
    }
  }
